{
    "openapi": "3.1.0",
    "info": {
        "title": "Create a Wardley Map",
        "description": "API for creating an Online Wardley Map.",
        "version": "v1.2.7"
    },
    "servers": [
        {
            "url": "https://api.wardleymaps.ai"
        }
    ],
    "paths": {
        "/v2/generate-map": {
            "post": {
                "operationId": "generateWardleyMap",
                "x-openai-isConsequential": false,
                "summary": "Generate a Wardley Map",
                "description": "Returns a URL of an image of a Wardley Map, passed as string.",
                "requestBody": {
                    "required": true,
                    "content": {
                        "application/json": {
                            "schema": {
                                "type": "object",
                                "properties": {
                                    "text": {
                                        "type": "string",
                                        "description": "The Online Wardley Map (OWM) in text format."
                                    }
                                },
                                "required": [
                                    "text"
                                ]
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "Successful response",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/WardleyMapImageResponse"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/v2/maps/save": {
            "post": {
                "operationId": "saveWardleyMap",
                "x-openai-isConsequential": false,
                "summary": "Save a Wardley Map",
                "description": "Saves the provided Wardley Map data to the server and return a unique id for the map.",
                "requestBody": {
                    "required": true,
                    "content": {
                        "application/json": {
                            "schema": {
                                "type": "object",
                                "properties": {
                                    "text": {
                                        "type": "string",
                                        "description": "The Online Wardley Map (OWM) in text format."
                                    }
                                },
                                "required": [
                                    "text"
                                ]
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "Map saved successfully",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/WardleyMapSaveResponse"
                                }
                            }
                        }
                    },
                    "default": {
                        "description": "Unexpected error",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "object",
                                    "properties": {
                                        "error": {
                                            "type": "string"
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
            }
        },
        "/v2/image/{filename}": {
            "get": {
                "operationId": "getImage",
                "x-openai-isConsequential": false,
                "summary": "Retrieve a generated image",
                "description": "Returns the image file generated by the /generate-map endpoint.",
                "parameters": [
                    {
                        "name": "filename",
                        "in": "path",
                        "required": true,
                        "description": "The name of the image file to retrieve.",
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Image file",
                        "content": {
                            "image/png": {}
                        }
                    }
                }
            }
        },
        "/v2/maps/fetch?id={id}": {
            "get": {
                "operationId": "fetchWardleyMap",
                "x-openai-isConsequential": false,
                "summary": "Get the Wardley Map",
                "description": "Get the Wardley Map specified by the ID.",
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "required": true,
                        "description": "The ID of the map to retrieve.",
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Fetch Wardley Map successful",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/WardleyMapFetchResponse"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/v2/privacy": {
            "get": {
                "operationId": "getPrivacyStatement",
                "summary": "Privacy Statement",
                "description": "Returns the privacy statement for the API.",
                "responses": {
                    "200": {
                        "description": "Privacy statement text",
                        "content": {
                            "text/plain": {}
                        }
                    }
                }
            }
        }
    },
    "components": {
        "schemas": {
            "WardleyMapFetchResponse": {
                "type": "object",
                "properties": {
                    "id": {
                        "type": "string",
                        "description": "A unique identifier for the map, generated by the server."
                    },
                    "text": {
                        "type": "string"
                    }
                },
                "required": [
                    "id",
                    "text"
                ]
            },
            "WardleyMapImageResponse": {
                "type": "object",
                "properties": {
                    "imageurl": {
                        "type": "string"
                    },
                    "warnings": {
                        "type": "array",
                        "items": {
                            "type": "string"
                        }
                    }
                }
            },
            "WardleyMapSaveResponse": {
                "type": "object",
                "properties": {
                    "id": {
                        "type": "string",
                        "description": "A unique identifier for the map, generated by the server."
                    },
                    "edit_url": {
                        "type": "string",
                        "description": "URL for editing the Wardley Map."
                    }
                },
                "required": [
                    "id",
                    "edit_url"
                ]
            }
        }
    }
}
